.page-container.customer-stories
  .container
    .row.u-flex
      .col-md-5.col-md-offset-1.col-md-push-6.u-flex.u-vert-center
        = image_tag "images/customers/ticketmaster-logo.png", alt: "Ticketmaster Logo"

        %h4 Entertainment
        %h3 How GitLab CI supported Ticketmaster’s ramp up to weekly mobile releases

        .btn-group
          %a.btn.cta-btn.ghost-accent{ href: "/2017/06/07/continous-integration-ticketmaster/" } Read the Case Study 
      .col-md-6.col-md-pull-6.u-padding-right-0.hidden-sm.hidden-xs
        .slide-media.slide-media--alt
          .slide-media-bg{ style: "background-image: url('/images/customers/ticketmaster-feature-spot.jpg')" }

    .row.u-flex
      .col-md-5.u-flex.u-vert-center
        = image_tag "images/customers/cncf-logo.png", alt: "CNCF Logo" 

        %h4 Information Technology
        %h3 The Cloud Native Computing Foundation eliminates complexity with a unified CI/CD system

        .btn-group
          %a.btn.cta-btn.ghost-accent{ href: "/customers/cncf/" } Read the Case Study
          
      .col-md-6.col-md-offset-1.u-padding-left-0.hidden-sm.hidden-xs
        .slide-media
          .slide-media-bg{ style: "background-image: url('/images/customers/cncf-feature-spot.jpg')" }

    .row.u-flex
      .col-md-5.col-md-offset-1.col-md-push-6.u-flex.u-vert-center
        = image_tag "images/customers/ow2-logo.png"

        %h4 Computer Software
        %h3 Global nonprofit OW2 uses GitLab to help the developer community create software more efficiently

        .btn-group
          %a.btn.cta-btn.ghost-accent{ href: "/customers/ow2/" } Read the Case Study 
      .col-md-6.col-md-pull-6.u-padding-right-0.hidden-sm.hidden-xs
        .slide-media.slide-media--alt
          .slide-media-bg{ style: "background-image: url('/images/customers/ow2-feature-spot.jpg')" }

    .row.u-flex
      .col-md-5.u-flex.u-vert-center
        %div{ style: "width: 166px; height: 80px;" }
          = partial "images/case_study_logos/equinix-logo.svg"

        %h4 Technology
        %h3 Equinix increases the agility of their DevOps teams with self-serviceability and automation

        .btn-group
          %a.btn.cta-btn.ghost-accent{ href: "/customers/equinix/" } Read the Case Study
          
      .col-md-6.col-md-offset-1.u-padding-left-0.hidden-sm.hidden-xs
        .slide-media
          .slide-media-bg{ style: "background-image: url('/images/customers/equinix-feature-spot.jpg')" }

    .row.u-flex
      .col-md-5.col-md-offset-1.col-md-push-6.u-flex.u-vert-center
        %div{ style: "width: 200px; height: 50px;" }
          = partial "images/case_study_logos/uw-logo.svg"

        %h4 Education
        %h3 The Paul G. Allen Center for Computer Science & Engineering gains control and flexibility to easily manage 10,000+ projects.

        .btn-group
          %a.btn.cta-btn.ghost-accent{ href: "/customers/uw/" } Read the Case Study 
      .col-md-6.col-md-pull-6.u-padding-right-0.hidden-sm.hidden-xs
        .slide-media.slide-media--alt
          .slide-media-bg{ style: "background-image: url('/images/customers/univ-washington-feature-spot.jpg')" }

    .row.u-flex
      .col-md-5.u-flex.u-vert-center
        = image_tag "images/customers/cern-logo.png", alt: "CERN Logo"

        %h4 Science & Research
        %h3 GitLab adoption growing at CERN

        .btn-group
          %a.btn.cta-btn.ghost-accent{ href: "/2016/11/23/gitlab-adoption-growing-at-cern/" } Read the Case Study
          
      .col-md-6.col-md-offset-1.u-padding-left-0.hidden-sm.hidden-xs
        .slide-media
          .slide-media-bg{ style: "background-image: url('/images/customers/cern-feature-spot.jpg')" }

