---
layout: default
title: GitLab + Juniper - Develop a Faster DevOps lifecycle
suppress_header: true
extra_css:
  - styles-2018.css
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline GitLab + Juniper - Develop a Faster DevOps lifecycle with GitLab CI/CD
        %h2.page-subtitle Integrated CI/CD pipelines to build, test and deploy code automatically.

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %h3 May 8th, 10am PT
            %p The benefits of continuous integration and continuous deployment are tremendous when automation plays an integral part of your workflow.
            %p Join Juniper Software Engineer, Liem Do with GitLab experts John Woods, David "DT" Thomas and Joe Miklos to gain insight on ways to automate your current processes with GitLab CI/CD and ultimately develop a faster DevOps lifecycle.

          .content-section
            %h3 In this session, we'll cover:
            %ul
              %li GitLab @ Juniper Overview - current deployment, usage & workflows
              %li GitLab's approach, advantages and features of fully integrated CI/CD
              %li Getting started: understand how GitLab CI/CD works
              %li Configure GitLab CI/CD pipelines to build, test and deploy Juniper applications

        .col-md-4.col-md-offset-1
          %h2 Register for the webcast
          %p If form does not render, please use <a href="https://www.google.com/chrome/" target="_blank">another browser</a>.
          .centered-form
            %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
            %form#mktoForm_1592
            :javascript
              MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1592, function(form) {
                form.onSuccess(function() {
                  form.getFormElem().hide();
                  $('.confirmform').attr('style', 'visibility: visible');
                  return false;
                });
              });
            .confirmform{style: "visibility:hidden;"}
              .centered-form-info
                %h3 Registration received!
                %p Thank you for registering. You will receive an email with additional webcast details.
